<ion-header-bar class="bar-stable bar-light ">
    <img src="http://placehold.it/30x30" alt="logo" class="img-circle">
</ion-header-bar>
<ion-content class="menu_left_content">
    <ion-list id="menuLinks">
        <ion-item menu-close="" href="#/app/dashboard">
            <i class="icon ion-person"></i>
            <span>开通会员</span>
        </ion-item>
        <ion-item menu-close="" href="#/app/profiles">
            <i class="icon ion-bag"></i>
            <span>QQ钱包</span>
        </ion-item>
        <ion-item menu-close="" href="#">
            <i class="icon ion-android-color-palette"></i>
            <span>个性装扮</span>
        </ion-item>
        <ion-item menu-close="" href="#">
            <i class="icon ion-cube"></i>
            <span>我的收藏</span>
        </ion-item>
        <ion-item menu-close="" href="#">
            <i class="icon ion-images"></i>
            <span>我的相册</span>
        </ion-item>
        <ion-item menu-close="" href="#">
            <i class="icon ion-ios-folder"></i>
            <span>我的文件</span>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer-bar align-title="left" menu-close="" class="bar-light menu_left_footer">
    <div class="button-bar">
        <a href="#/setting" class="button icon ion-ios-gear-outline"><span>设置</span></a>
        <a href="#" class="button icon ion-ios-moon-outline" ng-click="setNightOrNot()"><span>夜间</span></a>
    </div>
</ion-footer-bar>