<ion-view view-title="Home" ng-controller="mainHomeCtrl" >
    <ion-content class="padding">
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder"  >
            <ion-item ng-repeat="friend in friends"
                      item="item"
                      href="#/chat/{{friend.id}}" class="item-avatar item-remove-animate" >
                <img ng-src="{{friend.headPic}}">
                <h2>{{friend.name}}</h2>
                <ion-option-button class="button-assertive" ng-click="deleteFriend(friend.id)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

