<ion-popover-view class="main_popver" ng-controller="mainPopverClickCtrl">
    <ion-list>
        <ion-item ng-click="scan()">
            <i class="icon icon-left ion-qr-scanner"></i>
            <label>扫一扫</label>
        </ion-item>
        <ion-item ng-click="addFriend()">
            <i class="icon icon-left ion-person-add"></i>
            <label>加好友</label>
        </ion-item>
        <ion-item ng-click="createDiscussonGroup()">
            <i class="icon icon-left ion-chatbubbles"></i>
            <label>创建讨论组</label>
        </ion-item>
        <ion-item ng-click="sendToComputer()">
            <i class="icon icon-left ion-android-laptop"></i>
            <label>发送到电脑</label>
        </ion-item>
        <ion-item ng-click="sendFaceToFace()">
            <i class="icon icon-left ion-ios-paperplane"></i>
            <label>面对面快传</label>
        </ion-item>
        <ion-item ng-click="collectMoney()">
            <i class="icon icon-left ion-social-markdown"></i>
            <label>收钱</label>
        </ion-item>
    </ion-list>
</ion-popover-view>