.main_view{
    margin-top: 88px;
}
#search-input {
    text-align: center;
}

#search-bar .item {
    background: none;
    border: none;
    margin: 0 0;
    padding: 0 0;
}
.main_header{
    border-bottom: 0;
    z-index: 10;
}
.main_header .header_img{
    width: 30px;
    height: 30px
}
.main_subheader{
    border-bottom: 0;
    z-index: 9;
}


.main_popver{

}
.main_popver label{
    margin-left: 5px;
}
.menu_left_content span{
    margin-left: 10px;
}
.menu_left_footer span{
    margin-left: 5px;
}